.primeraimg{

width: 1250px;
height: 610px;
display: block; margin: auto;
};
.segundaimg{

    width: 1250px;
    height: 610px;
    display: block; margin: auto;
    };
.terceraimg{

        width: 1250px;
        height: 610px;
        display: block; margin: auto;
        };

        .h5 {
            position: relative;       
}